---
Checks: > 
    -*,
    bugprone-*,
    -bugprone-exception-escape,
    -bugprone-easily-swappable-parameters,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    hicpp-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -misc-no-recursion,

FormatStyle: none
WarningsAsErrors: ''
HeaderFilterRegex: 'src|test'

